{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>

    {{#data}}  <!-- prefix : 앞에 고정시켜놓은 값 -->
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/data}}
    </tbody>
</table>

<a href="/articles/{{data.id}}/edit" class = "btn btn-primary">수정하기</a>
<a href="/articles/{{data.id}}/delete" class = "btn btn-danger">삭제하기</a>
<a href="/articles/index" class = "btn btn-link">목록으로 돌아가기</a>


{{>comments/_comments}}
{{>layouts/footer}}